.navBar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
}

#tabbar {
  --c-color: #763fee;
  --c-background: #fff;
  --indicator-x: 35px;
  --indicator-circle-o: 1;
  --indicator-circle-y: 0px;
  -webkit-tap-highlight-color: transparent;
  border-radius: 31px;
  /* overflow: hidden; */
  position: relative;
  background: var(--c-background);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  height: fit-content;
}

#tabbar .indicator {
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: 0;
  display: block;
  width: 28px;
  height: 42px;
  fill: var(--c-color);
  transform: translateX(var(--indicator-x));
}

#tabbar .indicator path {
    transform: translateY(2px);
}

#tabbar .indicator circle {
    opacity: var(--indicator-circle-o);
    transform: translateY(var(--indicator-circle-y)) translateZ(0);
}

#tabbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 360px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 110;
}

#tabbar ul li {
    --icon-y: 0px;
    --icon-s: 1;
    --icon-circle: 0px;
}

#tabbar ul li:not(:first-child) {
    margin-left: 26px;
}

#tabbar ul li:not(:last-child) {
    margin-right: 26px;
}

#tabbar ul li.active {
    --icon-circle: 28px;
}

#tabbar ul li button {
    display: block;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    position: relative;
    -webkit-appearance: none;
    transform: translateY(var(--icon-y)) scale(var(--icon-s)) translateZ(0);
}

#tabbar ul li button:before {
  content: "";
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: var(--c-background);
  clip-path: circle(var(--icon-circle) at 50% 100%);
}

#tabbar ul li button svg {
    color: var(--c-color);
    display: block;
    overflow: visible;
    width: 28px;
    height: 28px;
}

#tabbar ul li button svg:last-child {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    clip-path: circle(var(--icon-circle) at 50% 100%);
}

.SettingsBtn div:nth-child(0) {
  margin-top: 20px;
  background-color: rgb(117, 28, 28);
}

.SettingsBtn button,
.SettingsBtn button:hover {
  background-color: #fff;
  color: #80b3ff;
  border-color: #dadada;
  text-align: center;
  background-color: #fff;
  color: #80b3ff;
  border-color: #dadada;
  text-align: center;
}

.SettingsBtn button:hover svg {
  transform: rotate(180deg);
  transition: 500ms;
}

.SettingsBtn button::after {
  display: none;
}

.LangChanger,
.ThemeChanger {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LangChanger button {
  border: none;
  border-radius: 10px;
  margin: 0 10px;
  color: rgb(154, 154, 154);
}

.LangChanger .ActiveLanguageBtn,
.LangChanger .ActiveLanguageBtn:hover {
  background: #80b3ff;
  color: #80b3ff;
}

.styled_toggle {
  /* background-color: rgb(177, 0, 0); */
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #b615a8; */
}

.toggle_icon {
  color: #fff;
  padding-bottom: 5px;
}

.decide_item {
  display: flex;
  justify-content: center;
}
/* .active {
  
} */

@media screen and (max-width: 426px) {
    .navBar {
        width: 100%;
        display: block;
    }
}
