.topSongs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 97%;
    min-height: 100px;
}

@media screen and (max-width: 850px) {
    .topSongs {
        margin-left: 0;
    }
}