    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');
    * {
        font-family: "Lato", sans-serif;
    }
    
    .audios {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        width: 712px;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    .searchAudios {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        width: 900px;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    .theme-switch {
        display: flex;
        align-items: center;
    }
    
    .theme-switch__icon {
        color: currentColor;
        height: 24px;
        width: 24px;
        margin-right: 8px;
        margin-left: 8px;
    }
    
    .theme-switch__control {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        position: relative;
        width: 64px;
        height: 32px;
        border-radius: 50em;
        padding: 3px 0;
    }
    
    .theme-switch__toggle {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        height: 0;
        width: 0;
        pointer-events: none;
    }
    
    .theme-switch__track {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: transparent;
        user-select: none;
        background-color: rgb(22, 21, 27);
        border-radius: inherit;
        z-index: 1;
        cursor: pointer;
    }
    
    .theme-switch__marker {
        position: relative;
        background-color: #fff;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        z-index: 2;
        pointer-events: none;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        transform: translateX(3px);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .theme-switch__toggle:checked+.theme-switch__track {
        background-color: #d3d3d4;
    }
    
    .theme-switch__toggle:checked~.theme-switch__marker {
        transform: translateX(35px);
    }

    .light-body {
        background-color: #fff;
        color: #000; 
    }

    .dark-body {
        background-color: #2D2D2D;
        color: #fff;
    }

@media screen and (max-width: 769px) {
    .audios {
        width: 85%;
    }

    .searchAudios {
        width: 80%;
    }
}