.container {
    width: 900px;
    height: auto;
    margin: auto;
    border: 1px solid #e6effb;
    box-sizing: border-box;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.titleCont {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.titleCont>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeTitle {
    font-weight: 700;
}

.lightning {
    margin-right: 15px;
}

@media screen and (max-width: 850px) {
    .container {
        width: 700px;
    }
    .titleCont {
        margin-left: 0;
    }
}

@media screen and (max-width: 426px) {
    .container {
        display: flex;
        width: 90%;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .titleCont {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        height: 50px;
    }
}

@media screen and (max-width: 376px) {
    .container {
        flex-direction: column;
        width: 90%;
        margin-bottom: 50px;
        display: flex;
    }
    .homeTitle {
        font-size: 18px;
        font-weight: normal;
    }
    .homeTitle>div {
        font-size: 25px;
        margin-bottom: 0;
    }
}