.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #2d2d2d;
  z-index: 100;
  color: #fff;
  text-align: center;
  align-items: center;
}

.Overlay_mini {
  margin-bottom: 48px;
  margin-right: 27px;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
  width: 276px;
  height: 455px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #2d2d2d;
  border: #e6effb 1px solid;
  z-index: 1200;
  color: #fff;
  text-align: center;
  align-items: center;
}

.Overlay_mini::before {
  content: "desktop";
  display: none;
}

.ModalTitle {
  position: absolute;
  top: 40px;
  font-size: 14px;
}

.ModalTitle_mini {
  position: absolute;
  top: 40px;
  font-size: 14px;
  color: #ffffff;
}

.CloseModalBtn {
  position: fixed;
  right: 25%;
  top: 0;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.2s;
}

.CloseModalBtn_mini {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 440px;
  margin-right: 50px;
  cursor: pointer;
  transition: all 0.2s;
}

.CloseModalBtn > svg {
  width: 30px;
  height: 30px;
}

.CloseModalBtn_mini > svg {
  width: 30px;
  height: 30px;
}

.miniModalBtn {
  position: fixed;
  left: 25%;
  top: 0;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.2s;
}

.miniModalBtn_mini {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 440px;
  margin-right: 250px;
  cursor: pointer;
  transition: all 0.2s;
}

.miniModalBtn > svg {
  width: 30px;
  height: 30px;
}

.miniModalBtn_mini > svg {
  width: 30px;
  height: 30px;
}

.SongDetails {
  display: flex;
  flex-direction: column;
}

.SongDetails_mini {
  display: flex;
  flex-direction: column;
}

.SongDetails > div {
  margin-top: 20px;
}

.SongImage {
  height: 392px;
  width: 392px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px;
  object-fit: cover;
}

.SongImage_mini {
  height: 172px;
  width: 172px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  object-fit: cover;
}

.SongAuthor {
  font-size: 12px;
}

.SongAuthor_mini {
  font-size: 12px;
  color: #ffffff;
}

.PlayerSettings {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

.PlayerSettings_mini {
  width: 50%;
  justify-content: center;
}

.PlayerTimeline {
  font-size: 12px;
  display: flex;
  width: 50%;
  align-items: center;
}

.PlayerTimeline_mini {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerTimeControl {
  width: 50vw;
  height: 3px;
  -webkit-appearance: none;
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0.3) 0%);
  margin: 0 12px;
}

.playerTimeControl_mini {
  width: 50vw;
  height: 3px;
  -webkit-appearance: none;
  background: linear-gradient(to right, #fff 0%, rgba(0, 44, 190, 0.3) 0%);
  margin: 0 12px;
}

.playerTimeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #7e0707;
  border: 2px solid #fff;
  cursor: pointer;
  transition: transform 150ms;
}

.playerTimeControl_mini::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #117031;
  border: 2px solid #fff;
  cursor: pointer;
  transition: transform 150ms;
}

.playerTimeControl::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.playerTimeControl_mini::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

.PlayerControls {
  position: absolute;
  bottom: 40px;
}

.PlayerControls_mini {
  position: absolute;
  bottom: 25px;
  right: 0;
  left: 0;
}

.PlayerControls button {
  border: none;
  background: inherit;
  margin: 0 10px;
}

.PlayerControls_mini button {
  border: none;
  background: inherit;
  margin: 0 10px;
}

.PlayBtn_mini {
  background: #424242 !important;
  height: 45px;
  border-radius: 10px;
}

.buttonsDivider {
  width: 60px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(180, 0, 0);
}

@media screen and (max-width: 1125px) {
  .Overlay {
    width: 100%;
    height: 100%;
  }

  .SongImage {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .Overlay {
    width: 100%;
    height: 100%;
  }

  .SongImage {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 850px) and (orientation: portrait) {
  .SongImage {
    width: 670px;
    height: 670px;
  }

  .PlayerControls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .PlayerControls button,
  .PlayerControls svg {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .PlayBtn svg {
    width: 150px;
    height: 70px;
  }

  .PlayBtn {
    width: 150px !important;
    height: 100px !important;
  }

  .Overlay h6 {
    font-size: 40px;
    margin-top: 10px;
  }

  .ModalTitle {
    font-size: 30px !important;
    top: 70px;
  }

  .SongAuthor {
    font-size: 22px;
    margin-top: 10px;
  }

  .CloseModalBtn svg {
    width: 100px;
    height: 50px;
  }

  .miniModalBtn svg {
    width: 100px;
    height: 50px;
  }

  .PlayerTimeline {
    width: 85%;
    height: 5%;
  }

  .PlayerTimeline span {
    font-size: 25px;
  }

  .playerTimeControl {
    width: 600px;
    height: 15px;
    border-radius: 10px;
  }

  .playerTimeControl::-webkit-slider-thumb {
    width: 33px;
    height: 33px;
  }
}

@media screen and (max-width: 615px) {
  .SongImage {
    width: 40vw;
    height: 40vw;
  }

  .CloseModalBtn {
    margin-top: 70px;
    right: 15%;
  }

  .miniModalBtn {
    margin-top: 70px;
    left: 15%;
  }
}

@media screen and (max-width: 560px) {
  .SongImage {
    width: 50vw;
    height: 50vw;
  }
}

@media screen and (max-width: 505px) {
  .SongImage {
    width: 80vw;
    height: 80vw;
  }
}

@media screen and (max-width: 460px) {
  .SongImage {
    width: 100vw;
    height: 100vw;
  }
}

@media screen and (max-width: 426px) {
  .SongImage {
    width: 50vw;
    height: 30vh;
  }

  .playerTimeControl {
    height: 6px !important;
  }

  .PlayerTimeline {
    margin: auto;
    position: absolute;
    width: 60%;
  }

  .playerTimeControl::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }

  .PlayerControls button {
    margin: -30px;
    padding: 0;
  }

  span {
    font-size: 15px !important;
  }

  button {
    width: fit-content;
  }

  h6 {
    font-size: 15px !important;
  }

  .SongAuthor {
    font-size: 14px;
  }

  svg {
    width: 30px !important;
    height: fit-content;
    /* height: 10px; */
  }
  .ModalTitle {
    font-size: 15px !important;
  }

  .Overlay_mini {
    width: 90%;
    padding-left: 5px;
    height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 20;
    margin: auto 5% 90px 5%;
  }

  .Overlay_mini::before {
    content: "mobile";
  }

  .Overlay_mini span {
    display: none;
  }

  .Overlay_mini button {
    width: fit-content;
  }

  .Overlay_mini svg {
    width: 20px;
    height: 20px;

  }

  .ModalTitle_mini {
    display: none;
  }

  .SongDetails_mini {
    flex-direction: row;
  }

  .SongDetails_mini > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
  }

  .SongDetails_mini h6 {
    margin-top: 10px;
  }

  .SongTitle_mini {
    font-size: 12px !important;
  }

  .SongAuthor_mini {
    font-size: 10px !important;
    color: #7c8db5;
  }

  .SongImage_mini {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .PlayerSettings_mini {
    width: fit-content;
  }

  .PlayerTimeline_mini {
    display: none;
  }

  .PlayBtn_mini {
    background: inherit !important;
  }

  .PlayerControls_mini {
    width: 25vw;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
  }

  .PlayBtn_mini svg{
    width: 25px !important;
    height: 25px !important;
  }

  .PlayerControls_mini button {
    margin: -10px;
  }

  .CloseModalBtn_mini {
    margin: 0;
    position: absolute;
    right: 3px;
    height: fit-content;
    top: 0;
  }  

  .miniModalBtn_mini {
    display: none;
  }
  .miniModalBtn_mini svg{
    width: 15px !important;
  }
}

@media screen and (max-width: 425px) {
  .PlayerControls {
    bottom: 100px;
  }
}

@media screen and (max-width: 370px) {
  .SongImage {
    width: 50vw;
    height: 50vw;
  }

  .PlayerControls {
    bottom: 100px;
  }
}

@media screen and (max-width: 335px) {
  .SongImage {
    width: 50vw;
    height: 50vw;
  }
}
